body {
    margin: 0;
}
.loading-div-parent {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    display: flex;
    justify-content:center;
    pointer-events: none;
}

.relative-pos {
    position: relative;
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
}
.loading-img {
    width: 100%;
    height: 100%;
}
.progress-bar {
    position: absolute;
    left: 35%;
    bottom: 5%;
    width: 30%;
    height: 4%;
}

.textFitted {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

span {
    font-family: inherit !important;
}

.myp-fit {
    display: flex !important;
}

#phaser-app {
    display: flex;
    justify-content:center;
}

#phaser-app {
    position: relative;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.photo-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: contain;
}

.photo-exit {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 5%;
}

@keyframes popImage {
    0%   {transform: scale(0)  rotate(0deg);}
    25%  {transform: scale(0.25) rotate(90deg);}
    50%  {transform: scale(.5) rotate(180deg);}
    75% {transform: scale(0.75) rotate(270deg);}
    100% {transform: scale(1) rotate(360deg);}
}

@keyframes popImage2 {
    0%   {transform: scale(0)  rotate(0deg);}
    25%  {transform: scale(0.25) rotate(90deg);}
    50%  {transform: scale(.5) rotate(180deg);}
    75% {transform: scale(0.75) rotate(270deg);}
    100% {transform: scale(1) rotate(360deg);}
}

.pop-image{
    animation: popImage 1s normal linear;
}

.pop-image-reverse{
    animation: popImage2 1s reverse linear;
}
