@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('fonts/2220-webfont.woff2') format('woff2'),
    url('fonts/2220-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.myp {
    position: absolute;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: 'pt_sans_narrowbold', "Arial Rounded MT Bold", sans-serif;
}
